@import url(bootstrap.min.css);
@import url(toogle.css);



body{
	background: #f7f7f7 url('bg.jpg');
	height: 100%;
}

h1{
	border: solid 5px black;
}

br.clear{clear:both; margin-top:-15px;}

.content{
	display:block;
	width: auto;
	height: auto;
	padding:20px;
	background-color: honeydew;
}

.contenttemp{
	display:block;
	width: auto;
	height: 300px;
	padding:20px;
	background-color: honeydew;
}

.content-home{
	display: block;
	background-color: none;
	display: block;
	border: solid 1px black;
}

.content-vid, .content-tab{
	width: auto;
	height: 350px;
	padding: 20px;
	background-color: honeydew;
}


#showtemp {
			display: block;
			margin: 5px 5px 5px 5px;
			width: 160px;
			height: 100px;
			font-size: 28pt;
			font-weight: bold;
			color: black;
       }
       
       
#acon {
	width: 160px;
	height: 45px;
}


#btn-home, #btn-away, #btn-alert{
	width: 160px;
	height: 45px;
	
}

#btn-submit, #select-temp {
	
	width: 50px;
	height: 30px;
}

#ok:hover , #btn-submit:hover{
	color:#FFFFFF;
	background-color:#aae41e;
}

#cancel:hover{
	color:#FFFFFF;
	background-color:#aae41e;

}

#copyright{
	display:block;
	width:max;
	padding:10px;
	}

#copyright, #copyright a{
	color:#666666;
	background-color:#d7d1b4;
	}

#copyright p{
	margin:0;
	padding:0;
	}
